mysql:
  development:
    driver: "mysql"
    host: ""
    database: ""
    username: ""
    password: ""
    charset: ""
  production:
    driver: "mysql"
    host: ""
    database: ""
    username: ""
    password: ""
    charset: ""